* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
    background: rgb(154, 115, 172);
    display: flex;
    flex-direction: column;
}

.header__list {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

body {
    font-family: sans-serif;
}

.header__link {
    text-decoration: none;
    text-transform: capitalize;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
}

.header__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header__title{
    text-transform: uppercase;
    color: aquamarine;
    margin-bottom: 15px;
    font-size: 50px;
}
.subtitle{
    width: 450px;
    color: chartreuse;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.service-text{
    margin-top: 20px;
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #60C1BD;
}

.service-title{
    margin-bottom: 100px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #284854;
}

.service-card{
 display: flex;
 align-items: center;
}

.service-card:nth-last-child(2){
    display: flex;
    flex-direction: row-reverse;
}

.card-txt{
    margin-left: 200px;
    margin-bottom: 20px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

color: #798B56;
}

.card-title{
    margin-left: 200px;
    margin-bottom: 20px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

color: #8BC441;
}

.card-text{
    margin-left: 200px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 29px;
/* or 192% */


color: #284854;
}